.header-logo {
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-decoration: none;
    display: block;
    padding: 25px 0;
}
.logo-web {
    color: var(--accent-color);
}
.logo-studio {
    color: var(--secondary-color);
}
.footer-logo {
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.footer-web {
    color: var(--accent-color);
}

.footer-studio {
    color: var(--primary-color);
}