.navigation {
    margin-left: 93px;
}
.navigation-list {
    display: flex;
    align-items: center;
}
.navigation-list .navigation-list__link-current {
    color: var(--accent-color);
}
.navigation-list__item a {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: var(--title-color);
    text-decoration: none;
    display: block;
    padding: 32px 0;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation-list .navigation-list__item:not(:last-child) {
    margin-right: 50px;
}
.navigation-list .navigation-list__link-current::after {
    @include sizes (100%, 4px);
    @extend %absolute;
    content: '';
    display: block;
    border-radius: 2px;
    background-color: var(--accent-color);
}
.navigation-list a:hover,
.navigation-list a:focus,
.contact-detail a:hover,
.contact-detail a:focus,
.contacts-list a:hover,
.contacts-list a:focus {
    color: var(--accent-color);
}