 --primary-color: #ffffff;
 /*Цвет #212121 для ссылок вверху слева, кнопок, названий разделов и заглавий*/
 --title-color: #212121;
 --first-background-color: #2f303a;
 /*Цвет #757575 для контактов вверху справа и описательной части текста*/
 --contacts-list-color: #757575;
 --accent-color: #2196f3;
 --secondary-color: #000000;
 --footer-contact-color: rgba(255, 255, 255, 0.6);
 --border-solid-color: #eeeeee;
 --border-bottom-color: #ececec;
 --about-team-background-color: #f5f4fa;
 --hero-button-background-color: #188CE8;
 --our-clients-logo-color: #AFB1B8;